{% extends 'mainapp/base.html' %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h1 class="display-5">News Feed</h1>
    <p> Use our news feed to stay informed about issues you're interested in!<p>
<div class="content container">
    <div class="row">
        <div class="feedgrabbr_widget" id="fgid_5580ae973bf9fca150f58cba3"></div>
        <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_5580ae973bf9fca150f58cba3");</script>
        <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
    </div>
    &nbsp;
</div>
<br>




{% endblock %}
