{% extends 'mainapp/base.html' %}

{% block content %}
<h1>Profile Page</h1>
{% if not user.is_authenticated %}
    <h3>Please login to view your profile</h3>
{% else %} 
<h3>My Information</h3>

<!-- user information -->
<h5> {{ user }} </h5>
<a>Email: {{user.email}}</a>

<h3>My Templates</h3> 
<a> -- Choose a template then click Publish to make the template publicly available --</a>

<!-- for all the templates, grab the name -->

<div class="list-group">
    {% for template in userTemps %}
        <a href="/{{template.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{template.temp_name}}</h5>
            <small>Created {{template.pub_date}}</small>
            </div>
            <p class="mb-1">{{template.temp_description}}</p>
            {% if template.public %}
            <p class="mb-1">Public</p>
            {% else %}
            <p class="mb-1">Private</p>
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endif %}

<!-- display representatives based on your address -->

    <form action="{% url 'mainapp:profile' %}" method="POST" class="address-form">
            {% csrf_token %}
            <div class="input-field">
                <input id="address-input" type="text" name="address" placeholder="Enter Your Address">
                <span class="helper-text red-text" data-error="Please enter a valid address" data-success="Great!"></span>
            </div>
            <div class="btn-field">
                <input id="rep-btn" class="btn" type="submit" name="representatives" value="Find Your Local Representatives">
            </div>
    </form>

    {% if representatives %}
        <body id="reps">
           <main id="rep-main">
               <div class="rep-display">
                   <table class="highlight responsive-table card-content">
                       <thead>
                           <th class="table-headers-A">Office</th>
                           <th class="table-headers-B">Current Occupant</th>
                       </thead>
                       <tbody>
                           {% for key, value in test_representatives.items %}
                           {{ test_representatives | json_script:"test_representatives"}}
                           <tr>
                               <td class="table-content-A">{{ value.office.name }}</td>
                               <td class="table-content-B">{{ value.name }}</td>
                           </tr>
                           {% endfor %}
                       </tbody>
                   </table>
               </div>
           </main>
        </body>
    {% else %}
        <h1> Please enter a valid address to see your representatives </h1>
   {% endif %}

{% endblock %}

