{% extends 'mainapp/base.html' %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% block content %}
<h1>Profile Page</h1>
<!-- user information -->
<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">User info</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <p> {{ user }} </p>
            </div>
        </div>
    </div>
</form>        
<h3>My Templates</h3>

<!-- for all the templates, grab the name -->
{% for template in templates %}
    {{template.temp_name}}
<p>{{template.temp_description}} </p>
{% endfor %}

{% endblock %}

