{% extends 'mainapp/base.html' %}

{% block content %}

<div class="jumbotron">
<div class="content container">
    {% if user.is_staff %}
    <h3>Templates for Review</h3>
    <a> -- Choose a template to review, then click Publish to make the template publicly available for all users --</a>
        <br>
    <div class="list-group">
        {% for template in userTemps %}
            <a href="/{{template.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{template.temp_name}}</h5>
                <small>Created {{template.pub_date}}</small>
                </div>
                <p class="mb-1">{{template.temp_description}}</p>
                <!-- {% if template.public %}
                <p class="mb-1">Public</p>
                {% else %}
                <p class="mb-1">Private</p>
                {% endif %} -->
            </a>
        {% endfor %}
    </div>
    {% endif %}

    <!-- the part to be shown always ------------------------------------------------------------------------------ -->
    <h1>Profile Page</h1>
    {% if not user.is_authenticated %}
        <h3>Please login to view your profile</h3>
    {% else %}

    <!-- user information -->
    <form class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Information</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <a>Name: {{ user.get_full_name }} </a><br>
                    <a>Email: {{user.email}}</a><br>
                    <a>Address: {{address}}</a><br>
                    <a>My Issues: | </a>
                    {% for i in issues %}
                        <a>{{i}} | </a>
                    {% endfor %}
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                        <input type = button class="btn btn-primary" onclick = "location.href='/editProfile'" value='Edit Profile'>
                </div>
            </div>
        </div>
    </form>
    <h3>My Templates</h3>
    <a> -- Choose a template then click Publish to make the template publicly available --</a>
        <br>

<!-- for all the templates, grab the name -->
<div class="list-group">
    {% for template in userTemps %}
        <a href="/{{template.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{template.temp_name}}</h5>
            <small>Created {{template.pub_date}}</small>
            </div>
            <p class="mb-1">{{template.temp_description}}</p>
            {% if template.public %}
            <p class="mb-1">Public</p>
            {% else %}
            <p class="mb-1">Private</p>
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endif %}
<br>

<h3>Tagged Templates</h3>
        <br>
<div class="list-group">
    {% for template in favoritedTemps %}
        <a href="/{{template.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{template.temp_name}}</h5>
            <small>Created {{template.pub_date}}</small>
            </div>
            <p class="mb-1">{{template.temp_description}}</p>
        </a>
    {% endfor %}
</div>

<!-- display representatives based on your address -->

<h3>My Representatives</h3>
<!-- display representatives based on your address -->
    <form action="{% url 'mainapp:profile' %}" method="POST" class="address-form">
            {% csrf_token %}
            <div class="input-field">
                <label>Enter Address:</label>
                <input id="address-input" type="text" name="address" size=65 value="{{address}}"><br>
                <span class="helper-text red-text" data-error="Please enter a valid address" data-success="Great!"><br></span>
            </div>
            <div class="btn-field">
                <input id="rep-btn" class="btn btn-primary btn-lg" type="submit" name="representatives" value="Find Your Local Representatives">
            </div>
    </form>

        {% if representatives %}
            <body id="reps">
               <main id="rep-main">
                   <p>Representatives for {{ address }}:</p>
                   <div class="rep-display">
{#                       <table class="highlight responsive-table card-content">#}
{#                           <thead>#}
{#                               <th class="table-headers-A">Office</th>#}
{#                               <th class="table-headers-B">Current Occupant</th>#}
{#                           </thead>#}
{#                           <tbody>#}
                               {% for key, value in test_representatives.items %}
                               {{ test_representatives | json_script:"test_representatives"}}
                               <span>
{#                                   <td class="table-content-A">{{ value.emails }}</td>#}
                                   <button class="button button2">{{ value.name }}</button>
                               </span>
                               {% endfor %}
{#                           </tbody>#}
{#                       </table>#}
                   </div>
               </main>
            </body>
        {% else %}
            <h1> Please enter a full and valid address to see your representatives </h1>
       {% endif %}
{% endblock %}

</div>
</div>
