<!-- # /***************************************************************************************
# *  REFERENCES
# *  Title: Django Email/Contact Form Tutorial
# *  Author: Will Vincent
# *  Date:  Nov 10, 2020
# *  Code version: 3.0
# *  URL: https://learndjango.com/tutorials/django-email-contact-form#create-forms
# *  Software License: MIT
# ***************************************************************************************/ -->

{% extends 'mainapp/base.html' %}

{% block content %}
<h1>Success! </h1>
<h3>Your message was sent to your representative. Thank you for engaging with politics and exercising your civic rights!</h3>

{% endblock %}
