{% extends 'mainapp/base.html' %}
{% block content %}
  <h1 id="tempsubj">{{template.temp_name}}</h1>
  <h3>Description: {{template.temp_description}}</h3>
  <h3>Template: </h3>
  <p id="templatetext">{{template.temp_text}}</p>
  {% if template.owner == user %}
    <!--input class="btn btn-primary" href="/profile" type="submit" name="publish" value="Publish" /-->
    {% if template.public %}
    <p>You have published this template and it is available to the public.</p>
    {% else %}
    <form method='POST' >
      {% csrf_token %}
      <!--{{form1.as_p}}-->
      <button type="submit" name="publish" onclick="location.href = '/profile'" class="btn btn-primary">Publish</button>
    </form>
    {% endif %}
  {% endif %}
  <h1 class="display-5">Create Your Email:</h1>
    <form method='POST' >
      {% csrf_token %}
      <!--{{form2.as_p}}-->
      <!--Template Name Box-->
      <!--Template Description Box-->
      <div class="form-group text-left">
          <label>Subject:</label>
          <br>
  <!--        <input type="textarea" class="form-control" name="temp_description" row="2"></input>-->
            <input type="text" id="subject" name="subject">
          <!-- {{form.subject}} -->
      </div>
      <!--Template Text Box-->
      <div class="form-group text-left">
          <label>Message:</label>
          <br>
  <!--        <textarea class="form-control" name="temp_text" rows="15"></textarea>-->
                <textarea class="form-control" id="message" name="message" rows="15"></textarea>
                <!-- <input type="text" id="message" name="message"> -->
          <!-- {{form.message}} -->
      </div>

      <!-- display representatives based on your address -->

          <form action="{% url 'mainapp:profile' %}" method="POST" class="address-form">
                  {% csrf_token %}
                  <div class="input-field">
                      <input id="address-input" type="text" name="address" placeholder="Enter Your Address">
                      <span class="helper-text red-text" data-error="Please enter a valid address" data-success="Great!"></span>
                  </div>
                  <div class="btn-field">
                      <input id="rep-btn" class="btn" type="submit" name="representatives" value="Find Your Local Representatives">
                  </div>
          </form>

          {% if representatives %}
              <body id="reps">
                 <main id="rep-main">
                     <div class="rep-display">
                         <table class="highlight responsive-table card-content">
                             <thead>
                                 <th class="table-headers-A">Office</th>
                                 <th class="table-headers-B">Current Occupant</th>
                             </thead>
                             <tbody>
                                 {% for key, value in test_representatives.items %}
                                 {{ test_representatives | json_script:"test_representatives"}}
                                 <tr>
                                     <td class="table-content-A">{{ value.office.name }}</td>
                                     <td class="table-content-B">{{ value.name }}</td>
                                 </tr>
                                 {% endfor %}
                             </tbody>
                         </table>
                     </div>
                 </main>
              </body>
          {% else %}
              <h1> Please enter a valid address to see your representatives </h1>
         {% endif %}

      <div class="form-group text-left">
          <label>To email:</label>
          <br>
     <!--        <input type="text" class="form-control" name="temp_name" placeholder="Enter name">-->
          {{form.to_email}}
      </div>












      <!--Submit Template Button-->
      <button type="submit" name="send" class="btn btn-primary">Send to Representative</button>
    </form>
<script>
    var temptext= document.getElementById("templatetext").innerHTML;
    document.getElementById("message").value=temptext;
    var tempsubj= document.getElementById("tempsubj").innerHTML;
    document.getElementById("subject").value=tempsubj;
</script>

{% endblock %}
